<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>北航线东海海洋天气预报</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <style>
      #body-style{font-family:"Arial","Microsoft YaHei","黑体","STXihei","华文细黑";background-color:rgb(244, 236, 216);}
      h1{color: red;text-align: center;}hr{border-top:4px solid red;}
      #wrap{width:690px;text-align: center;margin:0 auto;}
      table,table tr th, table tr td { border:1px solid black; }
      table{margin-top:20px;}table caption {color: blue;font-size: 20px;}
      .fc-item th{color:blue;border-color:black;font-weight:normal; }
    </style>
  </head>
  <body id="body-style">
    <h1>广东省气象台</h1>
    <hr class="header-gap">
    <div id="wrap">
    <% if(fcArray.length){ %>
    <% fcArray.forEach((fcTable,index)=>{%>
    <table>
      <caption>东海海洋天气<%= 24*(index+1)%>小时预报</caption>
      <tr>
        <th rowspan="2" ><%= 24*(index+1)%>小时<br>海区预报</th>
        <th colspan="6">有效时间：<%= fcTable.time %></th>
      </tr>
      <tr><th>天气</th><th>风向</th><th>风速(KTS)</th><th>阵风(KTS)</th><th>浪高(M)</th><th>能见度（KM）</th></tr>
      <% if(fcTable.fc){%>
        <% fcTable.fc.forEach(item=>{%>
          <tr class="fc-item">
            <th><%= item.loc %></th><td><%= item.infoW %></td><td><%= item.infoD %></td><td><%= item.infoKTS %></td>
            <td><%= item.infoGust %></td><td><%= item.infoWave %></td><td><%= item.infoV %></td>
          </tr>
        <% }) %>
      <%}%>
    </table>
    <% }) %>
    <% } %>
  <p>发布时间：<% let k = new Date() %><%= k %></p>
  </div>
</body>
</html>